-- Проверка метода шифрования по умолчанию
SHOW password_encryption;

-- Обновление пароля пользователя с md5 на scram-sha-256
ALTER USER user_md5 WITH PASSWORD 'NewSecurePassword123!';

-- Проверка, что хеш изменился
SELECT usename, left(passwd, 20) as hash_prefix
FROM pg_shadow
WHERE usename = 'user_md5';